{% extends "adminzone.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <h1 class="mt-5 text-center">Add Notification</h1>
            <div class="col-sm-12">
                <form action="">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Enter Notifications</p>
                            <input type="text" name="notif" class="form-control border border-dark rounded-0">
                            <input type="submit" value="" class="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table">
                                <thead>
                                    <tr style="background-color:dark-red">
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>