{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
  </head>
  <body>
    {% comment %} this is a container {% endcomment %}
    <div class="container-fluid">
        {% comment %} headline no 1 {% endcomment %}
        <div class="row p-2" style="background-color:darkred; color:white;">
            <div class="col-sm-1"></div>
            <div class="col-sm-2 my-auto text-end">
               <p class="my-auto"><i class="fa-solid fa-phone fa-bounce"></i> +91 7080102007</p>
            </div>
            <div class="col-sm-3 my-auto">
                <p class="my-auto"><i class="fa-solid fa-envelope fa-shake"></i>  nouegyanhelp@gmail.com</p>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4 my-auto">
                <p id="dt" class="my-auto"></p>
            </div>
            <div class="col-sm-1"></div>
        </div>
        {% comment %} headline no 1 {% endcomment %}

        {% comment %} headline no 2 {% endcomment %}
        <div class="row">
            <div class="col-sm-12 my-auto p-2" style="background-color:darkred; color:white">
                <p class="text-center my-auto">For Admission and Examination related query, Kindly call on University helpline Numbers 9341508580,9341508577,0612-2201013 & 0612-2206916</p>
            </div>
        </div>
        {% comment %} headline no 2 {% endcomment %}

        {% comment %} header {% endcomment %}
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2 mt-3 text-end">
                <img src="{% static 'images/logo1.png' %}" height="130px" alt="error">
            </div>
            <div class="col-sm-3 my-auto">
                <h3 style="color:darkred" class="fw-bold">NOU e-Gyan PORTAL</h3>
                <p>(A Concept by Nalanda Open University)</p>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3 my-auto">
                <span style="border:1px solid #2452a3; padding:7px; padding-top: 8px;border-radius: 100%"><i class="fa-brands fa-facebook" style="color: #2452a3;"></i></span>
                <span style="border:1px solid #74C0FC; padding:7px; padding-top: 8px;border-radius: 100%"><i class="fa-brands fa-twitter" style="color: #74C0FC;"></i></span>
                <span style="border:1px solid #e63d86; padding:7px; padding-top: 8px;border-radius: 100%"><i class="fa-brands fa-instagram" style="color: #e63d86;"></i></span>
                <span style="border:1px solid #368fd3; padding:7px; padding-top: 8px;border-radius: 100%"><i class="fa-brands fa-linkedin" style="color: #368fd3;"></i></span>
                <span style="border:1px solid #f2563a; padding:7px; padding-top: 8px;border-radius: 100%"><i class="fa-brands fa-youtube" style="color: #f2563a;"></i></span>
            </div>
            <div class="col-sm-1"></div>
        </div>
        {% comment %} header {% endcomment %}

        {% comment %} navbar {% endcomment %}
        <div class="row">
            <div class="col-sm-12 p-0 mt-3">
                <nav class="navbar navbar-expand-lg" style="background-color:gray;">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="#"></a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Courses</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Services</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'registration_page' %}">Registration</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'login_page' %}">Login</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'contact_page' %}" >Contact Us</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
            </div>
        </div>
        {% comment %} navbar {% endcomment %}

        {% block main %}
        {% endblock main %}

        {% comment %} footer {% endcomment %}
        <div class="row">
            <div class="col-sm-12 m-0 p-0">
                <!-- Footer -->
                <footer class="text-center text-lg-start" style="background-color:darkred; color:white;">
                    <!-- Section: Social media -->
                    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                    <!-- Left -->
                    <div class="me-5 d-none d-lg-block">
                        <span>Get connected with us on social networks:</span>
                    </div>
                    <!-- Left -->
                
                    <!-- Right -->
                    <!-- Right -->
                    </section>
                    <!-- Section: Social media -->
                
                    <!-- Section: Links  -->
                    <section class="">
                    <div class="container text-center text-md-start mt-5">
                        <!-- Grid row -->
                        <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center">
                            <!-- Content -->
                            <img src="{% static 'images/logo1.png' %}" height="120px" style="background-color:white; border-radius:100%; padding:5px; border:4px solid orange" alt="">
                            <p style="text-align:justify">
                                Nalanda Open University is a State Open University duly established under the Act of Bihar Government and is also recognized by Distance Education Council, IGNOU, Maidan Garhi, New Delhi.
                            </p>
                            <div>
                                <a href="" class="me-4 text-reset">
                                <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="" class="me-4 text-reset">
                                <i class="fab fa-twitter"></i>
                                </a>
                                <a href="" class="me-4 text-reset">
                                <i class="fab fa-google"></i>
                                </a>
                                <a href="" class="me-4 text-reset">
                                <i class="fab fa-instagram"></i>
                                </a>
                                <a href="" class="me-4 text-reset">
                                <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="" class="me-4 text-reset">
                                <i class="fab fa-github"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Grid column -->
                
                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h3 class="mb-4">
                            Useful Links
                            </h3>
                            <p>
                            <span class="text-reset"><i class="fa-solid fa-arrow-right"></i> Home</span>
                            </p>
                            <p>
                            <span class="text-reset"><i class="fa-solid fa-arrow-right"></i> About Portal</span>
                            </p>
                            <p>
                            <span class="text-reset"><i class="fa-solid fa-arrow-right"></i> Services</span>
                            </p>
                            <p>
                            <span class="text-reset"><i class="fa-solid fa-arrow-right"></i> Contact Us</span>
                            </p>
                            <p>
                            <span class="text-reset"><i class="fa-solid fa-arrow-right"></i> Courses</span>
                            </p>
                            <p>
                            <span class="text-reset"><i class="fa-solid fa-arrow-right"></i> Study Center</span>
                            </p>
                        </div>
                        <!-- Grid column -->
                
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h3 class="mb-4">
                            Contact Info
                            </h3>
                            <p>
                            <span class="text-reset" style="font-size:25px"><i class="fa-solid fa-location-dot"></i> Nou </span>
                            </p>
                            <p>
                                2nd/3rd Floor, Biscomaun Bhawan, Gandhi Maidan, Patna 800 001 (BIHAR).
                            </p>
                            <p>
                            <span style="font-size:15px"><i class="fa-solid fa-phone"></i>  +91 7080102007</span>
                            </p>
                            <p>
                            <span>Give us a call</span>
                            </p>
                        </div>
                        <!-- Grid column -->
                
                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h3 class="mb-4">Subscribe</h3>
                            <p>Fill the detail below to receive <br>the manual of the NOU e-Gyan <br> Portal</p>
                            <div class="form-group" style="background-color:orange; width:245px; border-radius:20px">
                                <input type="text" class="form-dark p-2" style="border-radius:20px 0px 0px 20px; background-color:black; color:grey" id="usr" placeholder="Email Address" >
                                <i class="fa-solid fa-paper-plane"></i>
                            </div>
                        </div>
                        <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                    </div>
                    </section>
                    <!-- Section: Links  -->
                
                    <!-- Copyright -->
                    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05); content:justify;">
                        © Copyright 2024 Designed & Developed By | Softpro India Computer Technologies (P) Ltd.
                    </div>
                    <!-- Copyright -->
                </footer>
                <!-- Footer -->
            </div>
        </div>
        {% comment %} footer {% endcomment %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        var a=Date();
        document.getElementById('dt').innerHTML=a;
    </script>
  </body>
</html>