{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block main %}
    {% comment %} this is a main container {% endcomment %}
    <div class="row">
        <div class="col-sm-12" style="background-image:linear-gradient(rgba(0,0,0,0.662),rgba(0,0,0,0.712)), url('../static/images/study.jpeg');background-repeat:no-repeat; background-size:cover;height:400px;">
            <h1 class="text-white" style="margin-top:100px; margin-left:20px; ">Contact</h1>
            <p style="margin-left:30px; font-size:18px; color:white;"><a href="" style="color:white">Contact</a>&nbsp;/<a href="" style="color:white">Home</a></p>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-sm-6">
            <div class="row m-4">
                <div class="col-sm-5 border border-dark p-5 me-5">
                    <span style="font-size:50px; margin-left:60px"><i class="fa-solid fa-phone"></i></span>
                    <h5 class="text-center fw-bold">Call Us</h5>
                    <p class="text-center mb-0">+91 63880&nbsp;99423</p>
                    <p class="text-center mt-0">+91 63880&nbsp;99423</p>
                </div>
                <div class="col-sm-5 border border-dark p-5">
                    <span style="font-size:50px; margin-left:60px"><i class="fa-solid fa-envelope"></i></span>
                    <h5 class="text-center fw-bold">Mail to Us</h5>
                    <p class="text-center mb-0">ramestgupta1234@gmail.com</p>
                    <p class="text-center mt-0">ramestgupta1234@gmail.com</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 ms-4 border border-dark" style="padding:70px;">
                    <span style="font-size:60px; margin-left:220px"><i class="fa-solid fa-location-dot"></i></span>
                    <h5 class="text-center fw-bold">Location</h5>
                    <p class="text-center mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, voluptas!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row border shadow mt-4 p-3">
                    <div class="col-sm-6">
                        <p>Enter Name*</p>
                        <input type="text" name="name" class="form-control border-dark rounded-0">
                    </div>
                    <div class="col-sm-6">
                        <p>Enter Gender*</p>
                        Male&nbsp;&nbsp;<input type="radio" name="gender" value="Male">
                        Female&nbsp;&nbsp;<input type="radio" name="gender" value="Female">
                        Other&nbsp;&nbsp;<input type="radio" name="gender" value="Other">
                    </div>
                    <div class="col-sm-12 mt-3">
                        <p>Enter Address*</p>
                        <textarea name="address" id="" class="form-control border-dark rounded-0"></textarea>
                    </div>
                    <div class="col-sm-6 mt-3">
                        <p>Enter Contact No.*</p>
                        <input type="text" name="contactno" class="form-control border-dark rounded-0">
                    </div>
                    <div class="col-sm-6 mt-3">
                        <p>Enter Email*</p>
                        <input type="email" name="email" class="form-control border-dark rounded-0">
                    </div>
                    <div class="col-sm-12 mt-3">
                        <p>Enter Enquirytext*</p>
                        <textarea name="enquirytext" id="" class="form-control border-dark rounded-0"></textarea>
                    </div>
                    <div class="col-sm-12 mt-3">
                        <input type="submit" class="form-control rounded-0 btn" style="background-color:darkred;color:white;">
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% comment %} this is a main container {% endcomment %}
    {% endblock main %}
</body>
</html>