{% extends "layout.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block main %}
    <form action="{% url 'logcode_page' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-5 border p-5 mt-5 mb-5 shadow">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <img src="{% static 'images/logo1.png' %}" height="180px" alt="">
                    </div>
                    <div class="col-sm-12 mt-3">
                        <p>Select Your Usertype</p>
                        <select name="usertype" id="" class="form-control rounded-0">
                            <option value="">--Select Your Usertype--</option>
                            <option value="student">Student</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                    <div class="col-sm-12 mt-3">
                        <p>Enter Your Username</p>
                        <input type="text" name="userId" id="" class="form-control rounded-0 border-dark" placeholder="info@gmail.com">
                    </div>
                    <div class="col-sm-12 mt-3">
                        <p>Enter Your Password</p>
                        <input type="text" name="password" id="" class="form-control rounded-0 border-dark" placeholder="******">
                    </div>
                    <div class="col-sm-12 mt-4">
                        <input type="submit" value="submit" class="form-control rounded-0" style="background-color:darkred; color:white;">
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </form>
    {% endblock main %}


</body>
</html>
