{% extends "adminzone.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block admin %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="fw-bold text-center mt-4" style="color:darkred">Manage Student</h1>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <table class="table" border='1' id="example">
                        <thead>
                            <tr class="" style="background-color:black;color:white;">
                                <th>Roll No</th>
                                <th>Name</th>
                                <th>Father Name</th>
                                <th>Mother Name</th>
                                <th>Gender</th>
                                <th>Address</th>
                                <th>Branch</th>
                                <th>Year</th>
                                <th>Email</th>
                                <th>Contact No</th>
                                <th>Regdate</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for i in show %}
                            <tr>
                                <td>{{i.rollno}}</td>
                                <td>{{i.name}}</td>
                                <td>{{i.fname}}</td>
                                <td>{{i.mname}}</td>
                                <td>{{i.gender}}</td>
                                <td>{{i.address}}</td>
                                <td>{{i.branch}}</td>
                                <td>{{i.program}}</td>
                                <td>{{i.email}}</td>
                                <td>{{i.contactno}}</td>
                                <td>{{i.regdate}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endblock admin %}
</body>
</html>